@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body{
  
font-family: 'Squada One', cursive;
 
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}
.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}
.vista{
    height: 100vh;
    background-image:  url(imagen/registro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center; ;
    position: relative;
}
.vista .container{
    padding: 0;

}
.nav{
    display:flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;


}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;

}
.nav_items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;


}
.nav_items--cta{
    border: 1px solid #fff;
}
.nav_items--footer{
    padding: 10px;
}
.vista_container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}
.vista_texts{
    width: 80%;
    margin-bottom: 50px;
}
.vista_title{
    font-size: 3.2rem;
}
.vista_subtitulo{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;

}
.vista_cta{
    display: inline-block;
    background: #fff;
    color:blue;
    padding: 15px 35px ;
    
    text-decoration: none;
    border-radius: 40px;

}
.vista_cta:hover{
	background: rgba(82, 178, 195, 0.97);
}
.vista_wave{
	font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

}
/*preaentacion y about*/
.presentation{
    padding-top: 0;
    text-align: center;
}
.presentation_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}
.presentation_copy{
   width: 80%; 
   margin: 0  auto;
}
.presentation_cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}
.about_img{
    text-align: center;

}
.about-img--left{
    text-align: left;
}
.about_picture{
    max-width: 80%;
   
}
.bout_paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}
/*proyectos*/
.projects{
    background: #f2f2f2;
}
.projects_grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img4 ";
    gap: 5px;
}
img{
    width: 70;
   
}
.projects_item{
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
.projects_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.projects_item:nth-of-type(1){
    grid-area: img1;
}
.projects_item:nth-of-type(2){
    grid-area: img2;
}
.projects_item:nth-of-type(3){
    grid-area: img3;
}
.projects_item:nth-of-type(4){
    grid-area: img4;
}
.projects_hover{
    position: absolute;
    background: #dc143c8c;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.projects_item:hover .projects_hover{
    transform: translateX(0%);
}
.projects_icon{
    margin-top: 10px;
    font-size: 30px;

}