@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
	font-family: 'Squada One', cursive;
	box-sizing: border-box;
}

body{
	font-family: 'Squada One', cursive;
	font-size: 25px;
	color:#F3F1FB ;
	background-image: url(imagen/registro.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixer;
	background-position: center;
	position: relative;
}
ul{
	width: auto;
	height: 40px;
	margin: 0;
	list-style: none;
	padding:  0;
	display: flex;
	
}
li{
	height: 38px;
}
li a{
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	border-right: 2px solid #fff;
}
li:hover{
	background: rgba(82, 178, 195, 0.97);
}

h1 {
	padding: 30px;
	
	display: flex;
	justify-content: center;
	text-align: center;
	width: 450px;
	left:50%;
	top:50%;
	transform: translatex(130%) translatey(-20%);
}


main{
	max-width: 800px;
	width: 100%;
	margin: auto;
	padding: 40px;
	border: 3px solid #fff;
	border-radius: 6px;
	background:rgba(8, 76, 113, 0.56); 
}
/* hago dos columnas */
.formulario{
	
	display: grid;
	grid-template-columns: 1fr 1fr;

	gap: 20px;
}

	
/* le digo que cuando pase el cursor cambie de forma*/
.formulario__label{
	display:block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

formulario__grupo-input{
	position: relative;
	
}
/* le doy diseño a los input*/
.formulario__input{
	width: 300px;
	/* background:#fff ;*/
    border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;

}
.formulario__input:focus{
	border-bottom: 1px solid #d63031;
	outline: none;
	box-shadow: 3px 0px 30px 
}
.formulario__grupo-1{
	grid-column: 1/span 2;
	width: 300px;
}
.formulario__input-error{
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__input-error-activo{
	display: block;
}
.formulario__validacion-estado{
	position: absolute;
	right:10px;
	bottom: 15px;
	z-index: 100;
	font-size: 10px;
	opacity: 0;
	
}
.formulario_mensaje,
formulario_grupo-btn-opciones{
	grid-column: span 2;
}
.formulario_mensaje{
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
	
}
.formulario_mensaje-activo{
	display: block;
}
.formulario_mensaje p {
	margin:0;
}
.botones{
	background: rbg(51, 0, 102 ) ;
	grid-column: 1/ span 2;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 70px;
	padding-left: 10px;
}




.formulario_btn1{
	background-color:#009999;
	font-size: 20px;
	display: block;
	padding: 10px 20px;
	color: #fff; 
	text-decoration:none;
	border-radius: 6px;
}
.formulario_btn2{
	background-color:#009999;
	font-size: 20px;
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration:none;
	border-radius: 6px;
}
.formulario_btn3{
	background-color:#009999;
	font-size: 20px;
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration:none;
	border-radius: 6px;

}
.formulario_btn4{
	background-color:#009999;
	font-size: 20px;
	display: block;
	padding: 10px 25px;
	color: #fff;
	text-decoration:none;
	border-radius: 6px;
	
}

.formulario__grupo-correcto .formulario__validacion-estado{
	color:green;
	opacity: 1;
	
}

.formulario__grupo-incorrecto .formulario__label{
	color:#bb2929;

}
.formulario__grupo-incorrecto .formulario__validacion-estado{
	color:#bb2929;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input{
	border: 3px solid #bb2929
	
}	
/* -diseño de la tabla donde se muestran los datos consultaos */



.contenedor_tabla{
	
	margin:50px auto;
	width:23%;
	;
}
h2{
	text-align: center;
   left:50%;
	top:50%;
	transform: translatex(-5%) translatey(20%);	
}


th{
	display: flex;
	justify-content: center;
	align-items: center;
	 text-align:left;
	width: 100%;
	padding: 5px;
    left:50%;
	top:50%;
	transform: translatex(1%) translatey(-3%);
	background: rgba(11, 88, 168, 0.59);
}
th{
	display:flex;
	text-align: left;
	border: 2px solid #fff;
}
.midificar{
 padding-left: 0;
 left: 0;
}
td{
	
	width: 70%;
	padding: 0;
	text-align: center;
    border: 2px solid #fff;
    border-left: 50px;
    background: rgba(11, 88, 168, 0.59);
}
