@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
	font-family: 'Squada One', cursive;
	box-sizing: border-box;
}

	section{
            
            height: 50vh;
            width: 50%;
            background-image: url(./css/imagen/registro.jpg);
            background-size: cover;
            background-position: center;
        }

	.form-container{
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 900px;
            padding: 50px 30px;
            border-radius: 20px;
            box-shadow:10px 10px 50px rgb(234, 253, 253);
	}
	ul{
		width: auto;
		height: 40px;
		margin: 0;
		list-style: none;
		padding:  0;
		display: flex;
		
	}
	li{
		height: 38px;
	}
	li a{
		display: block;
		padding: 5px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		border-right: 2px solid #fff;
	}
	li:hover{
		background: rgb(89, 172, 255);
	}
	
	h1 {
		padding: 30px;
		display: flex;
		justify-content: center;
		text-align: center;
		width: 450px;
		left:50%;
		top:50%;
		transform: translatex(130%) translatey(-60%);
	}
	
	
	.formulario{
		
		display: grid;
		grid-template-columns: 1fr 1fr;
	
		gap: 10px;
	}
	
		
	
	.formulario__label{
		display:block;
		font-weight: 700;
		padding: 10px;
		cursor: pointer;
	}
	
	formulario__grupo-input{
		position: center;
		
	}
	
	.formulario__input{
		width: 300px;
		background:#d5ffff ;
	    border: 3px solid transparent;
		border-radius: 6px;
		height: 45px;
		line-height: 45px;
		padding: 0 40px 0 10px;
		transition: .3s ease all;
	
	}
	.formulario__input:focus{
		border-bottom: 1px solid #d63031;
		outline: none;
		box-shadow: 3px 0px 30px 
	}
	.formulario__grupo-1{
		grid-column: 1/span 2;
		width: 300px;
	}
	.formulario__input-error{
		font-size: 12px;
		margin-bottom: 0;
		display: none;
	}
	.formulario__input-error-activo{
		display: block;
	}
	.formulario__validacion-estado{
		position: absolute;
		right:10px;
		bottom: 15px;
		z-index: 100;
		font-size: 10px;
		
		
	}
	
	.botones{
		background: rbg(51, 0, 102 ) ;
		grid-column: 1;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 70px;
		padding-left: 10px;
	}
	
	.formulario_btn1{
		background-color:#161667;
		font-size: 15px;
		display: block;
		padding: 10px 20px;
		color: #fff; 
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
	}
	.formulario_btn2{
		background-color:#161667;
		font-size: 15px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
	}
	.formulario_btn3{
		background-color:#161667;
		font-size: 15px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
	
	}
	.formulario_btn4{
		background-color:#161667;
		font-size: 15px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
		
	}
	
	.formulario_btn5{
		background-color:#f10e41;
		position: right;
		font-size: 15px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
		
	}
	
	.formulario__grupo-correcto .formulario__validacion-estado{
		color:#1ed12d;
		opacity: 1;
		
	}
	.contenedor_tabla{
		
		margin:50px auto;
		width:23%;
		
	}
	h2{
		text-align: center;
	   left:50%;
		top:50%;
		transform: translatex(-5%) translatey(20%);	
	}
	
	
	th{
		display: flex;
		justify-content: center;
		align-items: center;
		 text-align:left;
		width: 100%;
		padding: 5px;
	    left:50%;
		top:50%;
		transform: translatex(1%) translatey(-3%);
		background: rgba(11, 88, 168, 0.59);
	}
	th{
		display:flex;
		text-align: left;
		border: 2px solid #fff;
	}
	.modificar{
	 padding-left: 0;
	 left: 0;
	}
	td{
		
		width: 70%;
		padding: 0;
		text-align: center;
	    border: 2px solid #fff;
	    border-left: 50px;
	    background: rgba(11, 88, 168, 0.59);
	}
